[Unit]
Description=Starts Skimage watchdog
After=docker.service

[Service]
ExecStart=/bin/bash /home/odroid/skimage_edge_deployment/Utilities/watchdog.sh

[Install]
WantedBy=multi-user.target
